* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
ul {
  align-items: center;
  display: flex;
  gap: 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 150px;
  background-color: aliceblue;
}
.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 10px;
  margin: 20px auto;
  border: 2px solid grey;
  padding: 15px;
  border-radius: 15px;
}
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
th {
  text-transform: capitalize;
}
th,
td {
  padding: 10px;
  text-align: center;
}

.product_card_item {
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4 - 25px));
  gap: 30px;
  margin-top: 60px;
}

.product_card {
  /* width: 280px; */
  /* height: 500px; */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
}

.img_in_card {
  /* width: 240px; */
  /* height: 200px; */
  text-align: center;
  margin: 0 auto;
}

.img_in_card figure {
  /* width: 100%; */
  /* height: 100%; */
  /* object-fit: cover; */
  height: 200px;
}
.img_in_card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second_part_in_card {
  padding: 15px 30px;
}

.header_card {
  font-size: 14px;
  font-weight: 500;
}

.describtion_in_product_card {
  padding-top: 13px;
  font-size: 13px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
}

.salary_in_product_card {
  padding-top: 20px;
  font-size: 19px;
  font-weight: 700;
}

.button_in_product_card button {
  /* height: 100px; */
  display: flex;
  background: #e34235;
  align-items: end;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 20px;
  border-radius: 4px;
  padding: 10px 0;
  width: 100%;
}

.button_in_product_card {
  padding: 10px 30px 30px;
}
.gridBox {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, calc(100% / 4 - 15px));
}
